{% extends 'base.html' %}
{% block conteudo %}
<style>
#botao { float:right; }
#tabela-grande {
    width:1170px;
    height:400px;
    overflow: auto;
}
table {  white-space: nowrap;}
</style>
<div id="botao">
    <a href="/arquivos" class="btn btn-primary">Voltar</a>
</div>
<div id="tabela-grande">
<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Cnpj Filial</th>
    <th>Cnpj Fornecedor</th>
    <th>Nota</th>
    <th>Parcela</th>
    <th>Data Nota</th>
    <th>Data Pagamento</th>
    <th>Valor Tarifa</th>
    <th>Valor Pago</th>
    <th>Valor Juros</th>
    <th>Valor Multa</th>
    <th>Valor Desconto</th>
    <th>Banco-Caixa</th>
    <th>Banco</th>
    <th>Agencia</th>
    <th>Conta</th>
  </tr>
  {% for key in data %}
  <tr>
    <td>{{ key.0 }}</td>
    <td>{{ key.1.0 }}</td>
    <td>{{ key.1.1 }}</td>
    <td>{{ key.1.2 }}</td>
    <td>{{ key.1.3 }}</td>
    <td>{{ key.1.4 }}</td>
    <td>{{ key.1.5 }}</td>
    <td>{{ key.1.6 }}</td>
    <td>{{ key.1.7 }}</td>
    <td>{{ key.1.8 }}</td>
    <td>{{ key.1.9 }}</td>
    <td>{{ key.1.10 }}</td>
    <td>{{ key.1.11 }}</td>
    <td>{{ key.1.12 }}</td>
    <td>{{ key.1.13 }}</td>
    <td>{{ key.1.14 }}</td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}
