{% extends 'base.html' %}
{% block conteudo %}
<style>
#botao { float:right; }
#tabela-grande {
    width:1170px;
    height:400px;
    overflow: auto;
}
table {  white-space: nowrap;}
</style>
<div id="botao">
    <a href="/arquivos" class="btn btn-primary">Voltar</a>
</div>
<div id='tabela-grande'>
<table class="table table-striped">
    <tr> 
        <th>#</th>
        <th>CNPJ FILIAL</th>
        <th>Imposto</th>
        <th>CNPJ Fornecedor/Cliente</th>
        <th>Numero da Nota</th>
        <th>Data Inicio da Apuração</th>
        <th>Data Pagamento</th>
        <th>Valor Pago</th>
        <th>Valor Juros</th>
        <th>Valor Multa</th>
        <th>Observação</th>
        <th>Banco/Caixa</th>
        <th>Banco</th>
        <th>Agencia</th>
        <th>Conta</th>
    </tr>
{% for key in data %}
    <tr>
        <td>{{ key.0 }}</td>
        <td>{{ key.1.0 }}</td>
        <td>{{ key.1.1 }}</td>
        <td>{{ key.1.2 }}</td>
        <td>{{ key.1.3 }}</td>
        <td>{{ key.1.4 }}</td>
        <td>{{ key.1.5 }}</td>
        <td>{{ key.1.6 }}</td>
        <td>{{ key.1.7 }}</td>
        <td>{{ key.1.8 }}</td>
        <td>{{ key.1.9 }}</td>
        <td>{{ key.1.10 }}</td>
        <td>{{ key.1.11 }}</td>
        <td>{{ key.1.12 }}</td>
        <td>{{ key.1.13 }}</td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}
