{% extends 'base.html' %}
{% block extra_js %}
  <script src="{{ STATIC_URL }}js/lista_arquivo.js"></script>
{% endblock %}
{% block js %}
   $('a').tooltip('hide');
{% endblock %}
{% block breadcrumb %}
 <ul class="breadcrumb">
    <li><a href="/">Inicio</a> <span class="divider">/</span></li>
    <li class="active">Arquivos</li>
 </ul>
 {% endblock %}
{% block conteudo %}
    <h3 class="muted">Arquivos</h3>
    <div class="tabbable">
      <ul class="nav nav-tabs" id="my-tab">
        <li class="active"><a href="#tab1" data-toggle="tab">Recebidos</a></li>
        <li><a href="#tab2" data-toggle="tab">Arquivos do De-Para</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="tab1">

          <!-- Search Here! -->
          {% include "arquivos/search.html" %}

          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}

          <table id="empresas_td" class="table muffin table-bordered table-hover margin-bottom0">
            <tr class="alert">
              <th>#</th>
              <th>Nome do Documento </th>
              <th>Empresa</th>
              <th>Layout</th>
              <th>Data de Importação</th>
              <th><div class="text-center">Status</div></th>
              <th><div class="text-center">Ações</div></th>
            </tr>

          </table>
        </div>

        <div class="tab-pane fade" id="tab2">
          {% include "arquivos/search_upload.html" %}  

          <table id="documento_depara" class="table muffin table-bordered">
            <tr class="alert">
              <th>#</th>
              <th>Nome do Documento</th>
              <th>Empresa</th>
              <th>Layout</th>
              <th>Data de criação</th>
              <th>Açoes</th>
            </tr>
          </table>
        </div>
        
      </div>
    </div>
{% endblock %}
