<script type="text/javascript">
$().ready(function() {
    $.ajax({
      type: "GET",
      url: "{% url 'empresas_ajax' %}",
      success: function(data, status){
          for (var i=0; i < data.length; i++) {
              $("#select_empresa_up")
              .append(
              "<option value='"+ data[i].pk +"'>"+ data[i].fields.razao_social + "</option>"
              )
          }
      },
    });

});

</script>


<div class="small">
<form class="form-inline">
  <p>
  <!--
      <input type="text" placeholder="Nome do Documento"
      class="input-small search-query" name="nomedoc"/>
  -->
      <select name="empresa_up" id="select_empresa_up">
        <option>Escolha uma Empresa</option>
      </select>

      <select class="span2" name="layout_up" id="select_layout_up">
        <option>Escolha um Layout</option>
        <option value='1'>Lançamento Contábil</option>
        <option value="2">Duplicatas Entrada</option>
        <option value="3">Duplicatas Saida</option>
      </select>

      <span class="input-append date">
        <input type="text" class="span2" id="data_in_up" name="data_in_up">
        <span class="add-on">
          <i class="icon-th"></i>
        </span>
      </span>
      <span class="input-append date">
        <input type="text" class="span2" id="data_ou_up" name="data_ou_up">
        <span class="add-on">
          <i class="icon-th"></i>
        </span>
      </span>

      <button type="button" class="btn btn-small btn-info" id="search_up">
        <i class="icon-search"></i>
        <span>Pesquisar</span>
      </button>
  </p>
</form>
</div>
