{% extends 'base.html' %}
{% block conteudo %}

</ul>
<style>
table { white-space: nowrap; }
#botao { float:right; }
#tabela-grande {
    width:1170px;
    height:400px;
    overflow: auto;
}
</style>
{% if tamanho_errada > 0 %}

    <div class="alert alert-info">
     <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Atenção!</strong> Linhas Corretas : {{ tamanho_correta }} |
      Linhas Erradas : {{ tamanho_errada }}<br />
      Por Favor, verificar arquivo importado
    </div>
    {% else %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Linhas Corretas </strong> : {{ tamanho_correta }}
    </div>

{% endif %}
<div id="botao">
    <a href="/arquivos" class="btn btn-primary">Voltar</a>
</div>
<div id="tabela-grande">
<table class="table table-bordered">
    <tr> 
        <th>#</th>
        <th>CNPJ FILIAL</th>
        <th>Data Lançamento</th>
        <th>Conta Debito</th>
        <th>Conta Credito</th>
        <th>Historico</th>
        <th>Complemento</th>
        <th>Valor</th>
        <th>Situação</th>
    </tr>
    {% for key, value in data.items %}
        <td>{{ key }}</td>
        <td>{{ value.0.0 }}</td>
        <td>{{ value.0.1 }}</td>
        <td>{{ value.0.2 }}</td>
        <td>{{ value.0.3 }}</td>
        <td>{{ value.0.4 }}</td>
        <td>{{ value.0.5 }}</td>
        <td>{{ value.0.6 }}</td>
        <td>{{ value.1 }}</td>
   </tr>
   {% endfor %}
</table>
</div>
{% endblock %}
