{% extends 'base.html' %}
{% block conteudo %}
<style>
#tabela-grande {
    width:1170px;
    height:400px;
    overflow: auto;
}
table {  white-space: nowrap;}
#botao { float:right; }
</style>
{% if tamanho_errada > 0 %}
    <div class="alert alert-info">

    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Atenção!</strong> Linhas Corretas : {{ tamanho_correta }} |
    Linhas Erradas : {{ tamanho_errada }}<br />
    Por Favor, verificar arquivo importado

    </div>
    {% else %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Linhas Corretas </strong> : {{ tamanho_correta }}
    </div>
{% endif %}

<div id="botao">
    <a href="/arquivos" class="btn btn-primary">Voltar</a>
</div>
<div id="tabela-grande">
<table class="table table-bordered">
    <tr> 
        <th>#</th>
        <th>CNPJ Filial</th>
        <th>CNPJ Fornecedor</th>
        <th>Nota</th>
        <th>Parcela</th>
        <th>Data Nota</th>
        <th>Data Pgto</th>
        <th>Vlr.Tarifa</th>
        <th>Vlr.Pago</th>
        <th>Vlr.Juros</th>
        <th>Vlr.Multa</th>
        <th>Vlr.Desconto</th>
        <th>Banco/Conta</th>
        <th>Banco</th>
        <th>Agencia</th>
        <th>Conta</th>
        <th>Situação</th>
    </tr>
{% for key, value in data.items %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value.0.0 }}</td>
        <td>{{ value.0.1 }}</td>
        <td>{{ value.0.2 }}</td>
        <td>{{ value.0.3 }}</td>
        <td>{{ value.0.4 }}</td>
        <td>{{ value.0.5 }}</td>
        <td>{{ value.0.6 }}</td>
        <td>{{ value.0.7 }}</td>
        <td>{{ value.0.8 }}</td>
        <td>{{ value.0.9 }}</td>
        <td>{{ value.0.10 }}</td>
        <td>{{ value.0.11 }}</td>
        <td>{{ value.0.12 }}</td>
        <td>{{ value.0.13 }}</td>
        <td>{{ value.0.14 }}</td>
        <td>{{ value.1 }}</td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}
