{% extends 'base.html' %}
{% block conteudo %}
<style>
table { font-size: 12px; } 
#botao { float:right; }
</style>
{% if data.errada > 0 %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Atenção!</strong> Linhas Corretas : {{ data.correta|length }} |
        Linhas Erradas : {{ data.errada|length }}<br />
        Por Favor, verificar arquivo importado
    </div>
    {% else %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Linhas Corretas </strong> : {{ data.correta|length }} 
    </div>
{% endif %}
<div id="botao">
    <a href="/arquivos" class="btn btn-primary">Voltar</a>
</div>
<table class="table table-bordered">
    <tr> 
        <th>#</th>
        <th>CNPJ Filial</th>
        <th>Imposto</th>
        <th>Data Inicio da Apuração</th>
        <th>Data Pagamento</th>
        <th>Valor Pago</th>
        <th>Valor Juros</th>
        <th>Valor Multa</th>
        <th>Observação</th>
        <th>Banco/Caixa</th>
        <th>Banco</th>
        <th>Agencia</th>
        <th>Conta</th>
        <th>Situação</th>
    </tr>
 {% for key, value in data.items %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ value.0.0 }}</td>
        <td>{{ value.0.1 }}</td>
        <td>{{ value.0.2 }}</td>
        <td>{{ value.0.3 }}</td>
        <td>{{ value.0.4 }}</td>
        <td>{{ value.0.5 }}</td>
        <td>{{ value.0.6 }}</td>
        <td>{{ value.0.7 }}</td>
        <td>{{ value.0.8 }}</td>
        <td>{{ value.0.9 }}</td>
        <td>{{ value.0.10 }}</td>
        <td>{{ value.0.11 }}</td>
        <td>{{ value.1 }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
