{% extends 'base.html' %}
{% block breadcrumb %}
<ul class="breadcrumb">
  <li><a href="/">Inicio</a> <span class="divider">/</span></li>
  <li><a href="/deparas">De-Paras</a><span class="divider">/</span></li>
  <li><a href="#">Contábil</a><span class="divider">/</span></li>
  <li class="active">Editar De-Para Filial</li>
</ul>
{% endblock %}
{% block conteudo %}
<form action="" method="POST" > 
  {% csrf_token %}
  <table class="table table-striped table-formset">
    <thead>
   <tr>
     <th>De</th>
     <th>Para</th>
   </tr>
 </thead>
 <tbody>
   <tr>
       {% for f in form %}
       <td> {{ f }} </td>
       {% endfor %}

     </tr>
   </tbody>
  </table>
    <input type="submit" value="Atualizar" class="btn btn-primary" />
    <a href="{% url 'home_depara' %}" class="btn" id="botao">Voltar</a>
</form>
{% endblock %}
