{% block conteudo %}

<div class="tabbable">
  <ul class="nav nav-tabs" id="my-tab">
    <li class="active"><a href="#tab1" data-toggle="tab">Duplicadas Entradas</a></li>
    <li><a href="#tab2" data-toggle="tab">Duplicatas Saídas</a></li>
    <li><a href="#tab3" data-toggle="tab">De Para Filial</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="tab1">
        <table class="table table-bordered">


            {% if duplicatas_entradas %}
                <tr>
                    <th>Banco</th>
                    <th>Agencia</th>
                    <th>Conta</th>
                    <th>Tabela Contabil</th>
                    <th>Ações <a href="/fiscal-entrada/nova-depara/?empresa_id={{ empresa_id }}" class="btn btn-mini btn-primary pull-right">Incluir</a></th>
                </tr>
                {% for duplicatas in duplicatas_entradas %}
                <tr>
                    <td>{{ duplicatas.banco }}</td>
                    <td>{{ duplicatas.agencia }}</td>
                    <td>{{ duplicatas.conta }}</td>
                    <td>{{ duplicatas.tb }}</td>
                    <td><a href="{% url 'edit_fiscal_entrada' duplicatas.id %}" class="btn btn-mini btn-warning">Alterar</a> 
                     <a href="#myModal" role="button" class="btn btn-mini btn-danger" data-toggle="modal">Excluir</a> </td>
                    <div id="myModal" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Excluir</h3>
                        </div>
                        <div class="modal-body">
                            <p>Deseja excluir este item?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                            <a href="{% url 'delete_fiscal_entrada' duplicatas.id %}"class="btn btn-primary">Excluir</a>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            {% else %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">Não foi encontrado nenhum registro</h4>
                    <br />
                    <p>
                        <a href="/fiscal-entrada/nova-depara/?empresa_id={{ empresa_id }}" class="btn btn-primary">Cadastrar De Para Fiscal-Entrada</a>
                    </p>

                </div> 
            {% endif %}
        </table>
    </div>
    <div class="tab-pane fade" id="tab2">
       <table class="table table-bordered">
           {% if duplicatas_saidas %}
                <tr>
                    <th>Banco</th>
                    <th>Agencia</th>
                    <th>Conta</th>
                    <th>Tabela Contabil</th>
                    <th>Ações <a href="/fiscal-saida/nova-depara/?empresa_id={{ empresa_id }}" class="btn btn-mini btn-primary pull-right">Incluir</a></th>
                </tr>
                {% for duplicata_s in duplicatas_saidas %}
                <tr>
                    <td>{{ duplicata_s.banco }}</td>
                    <td>{{ duplicata_s.agencia }}</td>
                    <td>{{ duplicata_s.conta }}</td>
                    <td>{{ duplicata_s.tb }}</td>
                    <td><a href="{% url 'edit_fiscal_saida' duplicata_s.id %}" class="btn btn-mini btn-warning">Alterar</a>  
                     <a href="#myModal2" role="button" class="btn btn-mini btn-danger" data-toggle="modal">Excluir</a> </td>
                    <div id="myModal2" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Excluir</h3>
                        </div>
                        <div class="modal-body">
                            <p>Deseja excluir este item?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                            <a href="{% url 'delete_fiscal_saida' duplicata_s.id %}"class="btn btn-primary">Excluir</a>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            {% else %}
                 <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">Não foi encontrado nenhum registro</h4>
                    <br />
                    <p>
                        <a href="/fiscal-saida/nova-depara/?empresa_id={{ empresa_id }}" class="btn btn-primary">Cadastrar De Para Fiscal-Saída</a>
                    </p>

                </div> 
            {% endif %}

        </table>
    </div>
    <div class="tab-pane fade" id='tab3'>
      <table class="table table-bordered">
        {% if depara_filiais %}
            <tr>
                <th>De</th>
                <th>Para</th>
                <th>Ações<a href="/fiscal-filial/novo-depara/?empresa_id={{ empresa_id }}" class="btn btn-mini btn-primary pull-right">Incluir</a></th>
            </tr>
            {% for depara_filial in depara_filiais %}
                <tr>
                    <td> {{ depara_filial.de }} </td>
                    <td> {{ depara_filial.para }} </td>
                    <td>
                        <a href="{% url 'edit_depara_filial' depara_filial.id %}" class="btn btn-mini btn-warning">Alterar</a>
                        <a href="#myModal3" role="button" class="btn btn-mini btn-danger" data-toggle="modal">Excluir</a> </td>
                          <div id="myModal3" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h3 id="myModalLabel">Excluir</h3>
                              </div>
                              <div class="modal-body">
                                <p>Deseja excluir este item?</p>
                              </div>
                              <div class="modal-footer">
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                                <a href="{% url 'delete_depara_filial' depara_filial.id %}"class="btn btn-primary">Excluir</a>
                              </div>
                          </div>

                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <div class="alert alert-error">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <h4 class="alert-heading">Não foi encontrado nenhum registro</h4>
              <br />
              <p>
                <a href="/fiscal-filial/novo-depara/?empresa_id={{ empresa_id }}" class="btn btn-primary">Cadastrar De Para Filial</a>
              </p>

          </div> 
        {% endif %}
      </table>
    </div>
  </div>
</div>
{% endblock %}
