{% extends 'base.html' %}
{% block js %}
$('#botao').click(function(){
        parent.history.back();
        return false;
    });
{% endblock %}
{% block breadcrumb %}
 <ul class="breadcrumb">
    <li><a href="/">Inicio</a> <span class="divider">/</span></li>
    <li><a href="/deparas">De-Paras</a><span class="divider">/</span></li>
    <li><a href="#">Contábil</a><span class="divider">/</span></li>
    <li class="active">Incluir De-Para Fiscal</li>
 </ul>
{% endblock %}
{% block conteudo %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        {% if formset.errors %}
            <div class="alert alert-danger">
              {% for er in formset.errors %}
                {{ er }}
              {% endfor %}
            </div>
        {% endif %}
        <table>
            <tr>
                <th>Banco</th>
                <th>Agencia</th>
                <th>Conta</th>
                <th>Tabela Contábil</th>
            </tr>
            <tr>
        {% for x in formset.forms %}
                <td>{{ x.banco }}</td>
                <td>{{ x.agencia }}</td>
                <td>{{ x.conta }}</td>
                <td>{{ x.tb }}</td>
        {% endfor %}
            </tr>
        </table>
        <input type="submit" value="Salvar" class='btn-u btn-primary' />
        <a href="{% url 'home_depara' %}" class="btn" id="botao">Voltar</a>
    </form>
{% endblock %}
