{% extends 'base.html' %}
{% block breadcrumb %}
 <ul class="breadcrumb">
    <li><a href="/">Inicio</a> <span class="divider">/</span></li>
    <li><a href="/arquivos">Arquivos</a><span class="divider">/</span></li>
    <li class="active">Arquivos De-Para</li>
 </ul>
 {% endblock %}

{% block conteudo %}
<style>
#botao { float:right; }
#tabela-grande {
    width:1170px;
    height:400px;
    overflow: auto;
}
table {  white-space: nowrap;}
</style>
<div id="botao">
    <a href="/arquivos" class="btn btn-primary">Voltar</a>
</div>
{% block conteudo %}
<table class="table table-striped">
    <tr> 
      <th>#</th>
        <th>CNPJ FILIAL</th>
        <th>Data Lançamento</th>
        <th>Conta Debito</th>
        <th>Conta Credito</th>
        <th>Historico</th>
        <th>Complemento</th>
        <th>Valor</th>
    </tr>
{% for key in data %}
    <tr>
      <td>{{ forloop.counter }}</td>
        <td>{{ key.0 }}</td>
        <td>{{ key.1 }}</td>
        <td>{{ key.2 }}</td>
        <td>{{ key.3 }}</td>
        <td>{{ key.4 }}</td>
        <td>{{ key.5 }}</td>
        <td>{{ key.6 }}</td>

    </tr>
{% endfor %}
</table>
{% endblock %}

