{% extends 'base.html' %}
{% block js %}
$('#botao').click(function(){
        parent.history.back();
        return false;
    });
{% endblock %}
{% block breadcrumb %}
 <ul class="breadcrumb">
    <li><a href="/">Inicio</a> <span class="divider">/</span></li>
    <li><a href="#">De-Paras</a><span class="divider">/</span></li>
    <li><a href="/contabil">Contábil</a><span class="divider">/</span></li>
    <li class="active">Editar De-Para Tributos</li>
 </ul>
{% endblock %}
{% block conteudo %}
<form action="" method="POST" > {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Atualizar" class="btn btn-primary" />
    <a href="{% url 'home_depara' %}" class="btn" id="botao">Voltar</a>
</form>
{% endblock %}
