{% block conteudo %}
<div class="tabbable">
  <ul class="nav nav-tabs" id="my-tab">
    <li class="active"><a href="#tab1" data-toggle="tab">Imposto</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">

    <div class="tab-pane active" id="tab1">
        <table class="table table-bordered">
            <tr>
              <th>#</th>
              <th>Banco</th>
              <th>Caixa</th>
              <th>Agencia</th>
              <th>Tabela Contábil</th>
              <th>Ações <a href="" class="btn btn-mini btn-primary pull-right">Incluir</a></th>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><a href="" class="btn btn-mini btn-warning">Alterar</a> <a href="" class="btn btn-mini btn-danger">Excluir</a> </td>
            </tr>

        </table>
    </div>
  </div>
</div>
{% endblock %}
