<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html>
    <head>
        <meta charset="utf-8" />
        <title>EDI-Rui Cadete</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet"/>

        <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet"/>
        <link href="{{ STATIC_URL }}css/datepicker.css" rel="stylesheet" />
        <style type="text/css">
            #nomeusuario { float : right; }
            .span12{
                background-color: #fff;
                border: 1px solid #e5e5e5;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                border-radius: 5px;
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
            }
            body { background-image:url({{ STATIC_URL}}img/cream_pixels.png); }
        </style>
    </head>
    <body>
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <script src="{{ STATIC_URL }}js/jquery.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap.min.js" ></script>
        <script src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
        <script src="{{ STATIC_URL }}js/bootstrap-datepicker.pt-BR.js"
        charset="UTF-8" ></script>
        {% block extra_js %}
        {% endblock %}
        <script type="text/javascript">
        $().ready(function(){
          {% block js %}

          {% endblock %}
        });
        </script>

        <div class="container">
        <div class="masthead">
          <h3 class="muted">IntegraSis</h3>
        </div>
        <div class="navbar navbar-inverse">
          <div class="navbar-inner">
            <ul class="nav">
              {% if user.is_authenticated %}
                <li class="text-center">
                  <a href="/">Inicio</a>
                </li>
                <li class="text-center">
                  <a href="/upload">Importar</a>
                </li>
                <li class="text-center">
                  <a href="/arquivos">Arquivos</a>
                </li>
                <li class="text-center">
                  <a href="/deparas">De-Para</a>
                </li>
                <li class="text-center">
                  <a href="/sair">Sair</a>
                </li>
              {% else %}
                <li class="text-center">
                  <a href="{% url 'entrar' %}">Login</a>
                </li>
              {% endif %}
            </ul>
            <ul class="nav pull-right">
              {% if user.is_authenticated %}
                <li>
                  <a class="muted" href="#">Bem Vindo - {{ user.first_name}} {{ user.last_name }}</a>
                </li>
              {% endif %}
            </ul>
        </div>
      </div>

        {% if user.is_authenticated %}
          {% block breadcrumb %}
            <ul class="breadcrumb">
              <li><a href="/">Inicio</a> <span class="divider">/</span></li>
            </ul>
          {% endblock %}
        {% endif %}
        <div class="row">
          <div class="span12">
            {% block conteudo %}
            {% endblock %}
          </div>
        </div>
  </div>

  </body>
</html>
