<!DOCTYPE html>
{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% bootstrap_stylesheet_tag %}
{% bootstrap_stylesheet_tag "responsive" %}

{% block conteudo %}
<style>
      .form-signin {
        max-width: 245px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
    .form-signin-heading{
        width: 310px;
        padding: 10px;
        margin: 0 auto;
      }
</style>

        <form class="form-signin" method="POST" >
		{% csrf_token %}
            <h3 class="form-signin-heading">Acesso ao Sistema</h3>
            <div class="input-prepend">
                <span class="add-on">
                    <i class="icon-user"></i>
                </span>
                {{ form.username }}
            </div>
            <div class="input-prepend">
                <span class="add-on">
                    <i class="icon-lock"></i>
                </span>
                {{ form.password }}
            </div>
            <button class="btn-u btn-primary pull-right" type="submit">Entrar</button>
            <br />
       </form>
{% endblock %}
        {% for field in form %}
            {{ field.errors }}
            {{ field.label_tag }}{{ field }}
        {% endfor %}
