{% extends 'base.html' %}
{% block extra_js %}
    <script src="{{ STATIC_URL }}js/upload_p.js"></script>
{% endblock %}
{% block js %}
  $('#myTab a').click(function (e) {
    e.preventDefault();
    $(this).tab('show');
  });
  $("#addfile").click(function(){
    $("#id_docfile").click();
    return false;
  });

  $('input:file').change(function(e){
    var f = e.target.files, len = f.length;
    for (var i=0; i<len; i++) {
        var file_name = f[i].name;
        $('#showname').html(file_name);
    }
  });
{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/">Inicio</a> <span class="divider">/</span></li>
    <li class="active">Importar</li>
 </ul>
 {% endblock %}

{% block conteudo %}
<style>

#id_docfile {
    /* Note: display:none on the input won't trigger the click event in WebKit.
        Setting visibility: hidden and height/width:0 works great. */
    visibility: hidden;
    width: 0;
    height: 0;

}
#fileSelect {
    /* style the button any way you want */
}

</style>

<div class="tabbable">
  <ul class="nav nav-tabs" id="my-tab">
    <li class="active"><a href="#tab1" data-toggle="tab">Importar Arquivo</a></li>
    <li><a href="#tab2" data-toggle="tab">Arquivos Importados</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
        {% if error %}
            {{ error }}
        {% endif %}
        <form action="{% url 'upload' %}" method="post" class='form-inline' enctype="multipart/form-data" id="formulario">
            {% csrf_token %}
            {% if messages %}
              {% for message in messages %}
              <div class="alert alert-success">
                    {{ message }}
              </div>
              {% endfor %}
            {% endif %}

            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.empresa.label_tag }} :{{ form.empresa.errors }}
                    {{ form.layout.label_tag }} : {{ form.layout.errors }}
                    {{ form.docfile.label_tag }} : {{ form.docfile.errors }}
                </div>
            {% endif %}

                <div id="forminput formset">
                  {{ form.empresa.label_tag}} : {{ form.empresa }}
                  {{ form.layout.label_tag }} : {{ form.layout }} 
                  {{ form.docfile }}
                </div>
            <br />
            <button id="addfile" class="btn btn-success fileinput-button">
                <i class="icon-plus"></i>
                <span id="showname">Escolher Arquivo</span>
            </button>

            <button type="submit" class="btn btn-primary start">
                <i class="icon-upload"></i>
                <span>Importar</span>
            </button>
        </form>
    </div>

    <div class="tab-pane fade" id="tab2">
        {% include "arquivos/search_arquvios.html" %}
        <table id="empresas_td" class='table table-striped'>
            <tr>
              <th>#</th>
              <th>Nome do Documento</th>
              <th>Empresa</th>
              <th>Layout</th>
              <th>Data de Importação</th>
            </tr>

       <table>
    </div>
  </div>
</div>


{% endblock %}
