{% extends 'base.html' %}

{% block conteudo %}
<table class="table table-striped">
    <tr> 
        <th>CNPJ FILIAL</th>
        <th>Data Lançamento</th>
        <th>Conta Debito</th>
        <th>Conta Credito</th>
        <th>Historico</th>
        <th>Complemento</th>
        <th>Valor</th>
    </tr>
{% for key in data %}
    <tr>
        <td>{{ key.0 }}</td>
        <td>{{ key.1 }}</td>
        <td>{{ key.2 }}</td>
        <td>{{ key.3 }}</td>
        <td>{{ key.4 }}</td>
        <td>{{ key.5 }}</td>
        <td>{{ key.6 }}</td>

    </tr>
{% endfor %}
</table>
{% endblock %}

