{% extends 'base.html' %}

{% block js %}
        $(".modulo").hide();


        $("#botao").click(function(){
            var modulo = $("#selectId option:selected").attr("id");
            var empresa_id = $("#select_empresa option:selected").attr("value");

            $.ajax({
                type : "POST",
                url : "/ajax_index_depara/?",
                data : {
                  modulo : modulo, empresa_id : empresa_id,
                  csrfmiddlewaretoken :
                  $('input[name=csrfmiddlewaretoken]').val()
                },
                success : function(data, status) {
                    $(".modulo").hide('slow');
                    $(modulo).html(data);
                    $(modulo).show('slow');
                },
            }); //fim ajax
           return false;
        }); // fim function "butao"

        $("#selectId").change(function() {
            var modulo = $("#selectId option:selected").attr("id")
            $.ajax({
            type: "GET",
            url : "{% url 'empresapormodulo' %}",
            data: { modulo : modulo },

            success: function(data, status){
                $("#select_empresa").html("");
                for (var i = 0; i < data.length; i++) {
                        $("#select_empresa")
                        .append(
                        "<option value="+ data[i].pk +">"
                        + data[i].fields.razao_social +"</option>");
                    }
                }
            });
        }); // fim .change do SelectID

{% endblock %}

{% block breadcrumb %}
<ul class="breadcrumb">
    <li><a href="/">Inicio</a> <span class="divider">/</span></li>
    <li class="active">De-Paras</li>
</ul>
{% endblock %}

{% block conteudo %}
<div id="conteudo-central">
    <form class="form-horizontal">
       {% csrf_token %}
        <label class="control-label">Modulo</label>
        <div class="controls">
        <select id="selectId">
            <option>--------</option>
            <option id="#contabil">Contábil</option>
            <option id="#fiscal">Fiscal</option>
            <option id="#tributos">Tributos</option>
        </select>
        </div>
        <label class="control-label">Empresa:</label>
        <div class="controls">
        <select id="select_empresa">
            <option>------</option>
        </select>
        </div>
        <div class="control-label">
            <div class="controls">
                <button id="botao" class="btn-primary text-center">
                  Consultar
                </button>
            </div>
        </div>
        </form>
</div>

<br /><br />
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-success">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
    <div id="contabil" class="modulo">
    </div>

    <div id="fiscal" class="modulo">
    </div>

    <div id="tributos" class="modulo">
    </div>
{% endblock %}
