{% extends 'base.html' %}
{% block breadcrumb %}
 <ul class="breadcrumb">
    <li><a href="/">Inicio</a> <span class="divider">/</span></li>
    <li><a href="/arquivos">Arquivos</a><span class="divider">/</span></li>
    <li class="active">Arquivos De-Para</li>
 </ul>
 {% endblock %}

{% block conteudo %}
<style>
#botao { float:right; }
#tabela-grande {
    width:1170px;
    height:400px;
    overflow: auto;
}
table {  white-space: nowrap;}
</style>
<div id="botao">
    <a href="/arquivos" class="btn btn-primary">Voltar</a>
</div>
<div id='tabela-grande'>
<table class="table table-striped">
    <tr>
      <th>#</th>
      <th>Data Lançamento</th>
      <th>Complemento</th>
      <th>Valor</th>
      <th>Conta Debito</th>
      <th>Conta Credito</th>
      <th>Historico</th>
      <th>Codigo Filial</th>
      <th>Codigo Questor</th>
    </tr>
{% for key in data %}
    <tr>
      <td>{{ key.0 }}</td>
      <td>{{ key.1.0 }}</td>
      <td>{{ key.1.1 }}</td>
      <td>{{ key.1.2 }}</td>
      <td>{{ key.1.3 }}</td>
      <td>{{ key.1.4 }}</td>
      <td>{{ key.1.5 }}</td>
      <td>{{ key.1.6 }}</td>
      <td>{{ key.1.7 }}</td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}

