{% block conteudo %}
<div class="tabbable">
  <ul class="nav nav-tabs" id="my-tab">
    <li class="active"><a href="#tab1" data-toggle="tab">Contas Contabeis</a></li>
    <li><a href="#tab2" data-toggle="tab">Historico</a></li>
  </ul>
  <div id="myTabContent" class="tab-content">

    <div class="tab-pane fade in active" id="tab1">
        <table class="table table-bordered">

            {% if contas_contabeis %}
                <tr>
                    <th>De</th>
                    <th>Para</th>
                    <th>Ações <a href="/contabil/nova-conta/?empresa_id={{ empresa_id }}" class="btn btn-mini btn-primary pull-right">Incluir</a></th>
                </tr>
                {% for contas in contas_contabeis %}
                <tr>
                    <td>{{ contas.de }}</td>
                    <td>{{ contas.para }}</td>
                    <td><a href="{% url 'edit_contabil' contas.id %}" class="btn btn-mini btn-warning">Alterar</a> 
                        <a href="#myModal" role="button" class="btn btn-mini btn-danger" data-toggle="modal">Excluir</a> 
                    </td>
                    <div id="myModal" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Excluir</h3>
                        </div>
                        <div class="modal-body">
                            <p>Deseja excluir este item?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                            <a href="{% url 'delete_contabil' contas.id %}"class="btn btn-primary">Excluir</a>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            {% else %}
               <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">Não foi encontrado nenhum registro</h4>
                    <br />
                    <p>
                        <a href="/contabil/nova-conta/?empresa_id={{ empresa_id }}" class="btn btn-primary">Cadastrar De Para Lançamento Contabíl</a>
                    </p>

                </div>
            {% endif %}
        </table>
    </div>

    <div class="tab-pane fade" id="tab2">
       <table class="table table-bordered">
           {% if historicos %}
                <tr>
                    <th>De</th>
                    <th>Para</th>
                    <th>Ações <a href="/historico/novo-historico/?empresa_id={{ empresa_id }}" class="btn btn-mini btn-primary pull-right">Incluir</a></th>
                </tr>
                {% for contas in historicos %}
                <tr>
                    <td>{{ contas.de }}</td>
                    <td>{{ contas.para }}</td>
                    <td><a href="{% url 'edit_historico' contas.id %}" class="btn btn-mini btn-warning">Alterar</a> 
                        <a href="#myModal2" role="button" class="btn btn-mini btn-danger" data-toggle="modal">Excluir</a>
                    </td>
                    <div id="myModal2" class="modal hide fade " tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">Excluir</h3>
                        </div>
                        <div class="modal-body">
                            <p>Deseja excluir este item?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                            <a href="{% url 'delete_historico' contas.id %}"class="btn btn-primary">Excluir</a>
                        </div>
                    </div>
                </tr>
                {% endfor %}
            {% else %}
                <div class="alert alert-error">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <h4 class="alert-heading">Não foi encontrado nenhum registro</h4>
                    <br />
                    <p>
                        <a href="/historico/novo-historico/?empresa_id={{ empresa_id }}" class="btn btn-primary">Cadastrar De Para de Historico</a>
                    </p>

                </div>
            {% endif %}
        </table>
    </div>
  </div>
</div>
{% endblock %}
