{% extends 'base.html' %}
{% block js %}
$('#botao').click(function() {
    parent.history.back();
    return false;
});
{% endblock %}
{% block breadcrumb %}
 <ul class="breadcrumb">
    <li><a href="/">Inicio</a> <span class="divider">/</span></li>
    <li><a href="/deparas">De-Paras</a><span class="divider">/</span></li>
    <li><a href="#">Contábil</a><span class="divider">/</span></li>
    <li class="active">Incluir De-Para Contábil</li>
 </ul>
{% endblock %}
{% block conteudo %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class="table table-striped table-formset">
            <thead>
                <tr>
                    <th>De</th>
                    <th>Para</th>
                    <!--<th>Ação</th> -->
                </tr>
            </thead>
            <tbody>
                <tr>
                {% for x in formset.forms %}
                    <td>{{ x.de }}</td>
                    <td>{{ x.para }}</td>
                    <!--
                    <td>
                        <a href="javascript:;" class="btn btn-danger del-formset">
                            <i class="icon-trash icon-white"></i>
                            Apagar
                        </a>
                    </td>
                    -->
                {% endfor %}
                <!--
                </tr>
                <tr class="actions-formset">
                    <td>
                        <a href="javascript:;" class="btn add-formset">
                            <i class="icon-plus"></i>
                            Add mais De-Para
                        </a>
                    </td>
                </tr>
                -->

            </tbody>
        </table>
        <input type="submit" value="Incluir" name="add_depara" class='btn btn-primary' />
        <a href="{% url 'home_depara' %}" class="btn" id="botao">Voltar</a>
    </form>
{% endblock %}
